---
const { title, description, image, index } = Astro.props;
const reverse = index !== undefined ? index % 2 === 0 : false;
const isBackPainTreatment = title === "Back Pain Treatment In The CBD";
const isNeckPainTreatment = title === "Neck Pain Treatment In The CBD";
const isCarpalTunnelTreatment = title === "Carpal Tunnel Syndrome Treatment & Diagnosis In The CBD";
const isVertigoTreatment = title === "Vertigo Treatment In The CBD";
const isEndoNasalTreatment = title === "EndoNasal Cranial Correction™ Treatment In The CBD";
---
<div class="grid grid-cols-1 lg:grid-cols-3 mb-20 shadow-lg overflow-hidden shadow-xl">
    <div class={`w-full ${reverse ? 'lg:order-2' : 'lg:order-1'}`}>
        <img src={image} alt={title} class="w-full h-full object-cover" loading="lazy" />
    </div>
    <div class={`w-full flex flex-col justify-center p-6 md:p-8 lg:col-span-2 ${reverse ? 'lg:order-1' : 'lg:order-2'}`}>
        <h2 class="text-2xl md:text-3xl font-bold mb-4 text-custom-purple">{title}</h2>
        <div class="space-y-3">
            {Array.isArray(description) ? 
                description.map(paragraph => (
                    <p class="text-base md:text-lg text-gray-700">{paragraph}</p>
                )) : 
                <p class="text-base md:text-lg text-gray-700">{description}</p>
            }
        </div>
        
        {isBackPainTreatment && (
            <div class="mt-6">
                <a href="/back-pain/" class="inline-block px-6 py-3 bg-custom-pink text-white font-semibold rounded hover:bg-custom-purple transition-colors duration-300">
                    Fix Back Pain
                </a>
            </div>
        )}
        
        {isNeckPainTreatment && (
            <div class="mt-6">
                <a href="/neck-pain/" class="inline-block px-6 py-3 bg-custom-pink text-white font-semibold rounded hover:bg-custom-purple transition-colors duration-300">
                    Fix Neck Pain
                </a>
            </div>
        )}
        
        {isCarpalTunnelTreatment && (
            <div class="mt-6">
                <a href="/carpal-tunnel-syndrome-treatment-sydney-cbd/" class="inline-block px-6 py-3 bg-custom-pink text-white font-semibold rounded hover:bg-custom-purple transition-colors duration-300">
                    Carpal Tunnel Syndrome Treatment
                </a>
            </div>
        )}
        
        {isVertigoTreatment && (
            <div class="mt-6">
                <a href="/vertigo-treatment-sydney-cbd/" class="inline-block px-6 py-3 bg-custom-pink text-white font-semibold rounded hover:bg-custom-purple transition-colors duration-300">
                    Fix Vertigo
                </a>
            </div>
        )}
        
        {isEndoNasalTreatment && (
            <div class="mt-6">
                <a href="/endonasal-cranial-correction-treatment-sydney-cbd/" class="inline-block px-6 py-3 bg-custom-pink text-white font-semibold rounded hover:bg-custom-purple transition-colors duration-300">
                    EndoNasal Cranial Correction
                </a>
            </div>
        )}
    </div>
</div>